h1, h2, h3 {
    color:  rebeccapurple;
}

p{
    color: black;
}

button {
    background-color: turquoise;
}
body {
    background: peachpuff;
}

.featurette-image {
   margin: auto;
   width: 50%;
}

.btn {
    background-color: violet;
}
* {cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat927.ani), url(http://cur.cursors-4u.net/nature/nat-10/nat927.png), auto !important;} 