/* Add CSS customisation here */

h1{
   font-size:2rem; 
   background-color: red;
}
body{
   background-color: rgb(3, 3, 3);
   animation-name: disco;
   animation-duration: 2s;
   animation-iteration-count: 60;
   animation-timing-function: ease;
}
@keyframes disco {
   0%   {background-color: red;}
   33%  {background-color: blue;}
   66% {background-color: green;}
 }