.nicGallery {
    display: grid;
    grid-template-rows: repeat(2, 0.7fr);
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 50px;
    grid-row-start:1;
    grid-row-end: 7;
    grid-column-start:1;
    grid-column-end: 4;
    margin: 50px;
    justify-content: center;
}

.nicGallery  figure {
    overflow: hidden;
    object-fit: fill;
}
.nicGallery  figure img {
	display: block;
	height: auto; width: 30vw;
}


